MEETINGS_HOST=localhost
MEETINGS_PORT=3306
MEETINGS_USER=user
MEETINGS_PASSWORD=password
MEETINGS_DATABASE=dabatase

MEETINGS_HOST=localhost
MEETINGS_PORT=3306
MEETINGS_USER=root
MEETINGS_PASSWORD=secret
MEETINGS_DATABASE=meetings